/*
 ##########################################################
 START DO NOT CHANGE ZONE
 ##########################################################
*/

html {
  box-sizing: border-box;

  color: #222;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
}

header {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

h1 {
  margin: 0;

  font-size: 1.5rem;
}

.chapter-num {
  display: block;

  font-size: 1rem;
  font-style: italic;
}

.colon {
  display: none;
}

main {
  padding: 1.5rem 0;
}

p {
  margin: 0;

  text-indent: 1.3em;
}

p:first-child {
  text-indent: 0;
}

main > p:first-child::first-line {
  font-style: italic;
}

footer {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

/*
 ##########################################################
 END DO NOT CHANGE ZONE
 ##########################################################
*/

/* Write your CSS here */

figure {
  float: right;
  width: 300px;
}

main p:first-child::first-letter {
  color: white;
  font-size: 5rem;
  border-style: solid;
  border-width: 3px 0 3px 0;
  border-color: #333;
  background-color: #666;
  font-style: normal;
  display: block;
  float: left;
  padding: 1rem;
  line-height: 1.2em;
}

blockquote {
  float: left;
  width: 300px;
  display: block;
  color: #666;
  border-style: solid;
  border-width: 3px 0 3px 0;
  font-size: 1.5rem;
}

figcaption {
  font-style: italic;
  border-style: solid;
  border-width: 0 0 3px 0;
  font-size: 0.75rem;
}
